service: this27
configValidationMode: error

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  stage: dev
  timeout: 60
  
  environment:
    MONGO_URI: ${env:MONGO_URI, 'mongodb+srv://27shopgopal:S3kYB9MgKHPpaBjJ@cluster0.uvelucm.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'},
    API_KEY: 27infinity.in_5f84c89315f74a2db149c06a93cf4820
    JWT_SECRET: yourSecr33232

plugins:
  - serverless-offline

package:
  exclude:
    - .git/**
    - .gitignore
    - README.md
    - .DS_Store
    - .env*
 

functions:
  ${file(./ymlFile/index.yml)}


 
  # Uncomment others as needed:
  # ${file(./ymlFile/Customer/Customer.yml)}
  # ${file(./ymlFile/Machine/Machine.yml)}
  # ${file(./ymlFile/MachineType/MachineType.yml)}
  
  # ${file(./ymlFile/Material/Material.yml)}
  # ${file(./ymlFile/MaterialCatalogue/MaterialType.yml)}
  # ${file(./ymlFile/Product/Product.yml)}
  # ${file(./ymlFile/ProductCatalogue/ProductType.yml)}
  # ${file(./ymlFile/steps/Step.yml)}